NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

OPENROUTER_API_KEY=
RUNWARE_API_KEY=
RUNWARE_BASE_URL=
RUNWARE_MODEL=
RUNWARE_CREATE_AVATAR_MODEL=

SUPABASE_SERVICE_ROLE_KEY=
ADMIN_USER_IDS=

NEXT_PUBLIC_CHARACTER_IMAGES_BUCKET=
DEMO_PUBLIC_CHARACTER_OWNER_ID=
